{% block content %}
<a href="all">View Recipes</a> | <a href="new">Add Recipe</a>
<h1> Edit an existing recipe </h1>
{% if recipe %}

<form action="/edit?key={{ form.key }}"" method="post" accept-charset="utf-8">
    {{ form.csrf_token }}
    <p>
        Recipe name: {{ form.name }}
    </p>
    <p>
        Can it be made in under 30 minutes? {{ form.under30 }}
    </p>
    <p>
        Recipe category:  {{ form.category }}
    </p>
    <p>
        Recipe ingredients: {{ form.ingredients }}
    </p>
    <p>
        Recipe instructions: {{ form.instructions }}
    </p>
    <p>
        <input type="submit" value="Save">
    </p>
</form>
{% endif %}


{% if form.content %}
{% if form.content.errors %}
<ul>
    {% for error in form.content.errors %}
    <li> {{error}} </li>
    {% endfor %}
</ul>
{% endif %}

{% endif %}

{% endblock %}
<script>
    function changeCategory(category) {
        var id;
        if (category == 'breakfast') {
            id = 'category-0';
        } else if (category == 'lunch') {
            id = 'category-1';
        } else if (category == 'dinner') {
            id = 'category-2';
        }
        console.log(id);
        document.getElementById(id).checked = true;
    }
    changeCategory('{{ category }}');
</script>