<head>
  <!-- Jquery mobile inclusions, as seen on http://www.w3schools.com/jquerymobile/tryit.asp?filename=tryjqmob_example -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
  <div data-role="page">
    
    <div data-role="header">
      <h2> Mobile Restaurant Finder </h2>
    </div>
    
    <div data-role="content">
      This app uses the <a href="http://www.factual.com">Factual</a> API to find restaurants near your location.
      <div id="error-msg">
        
      </div>
      
      <div id="search-form" style="visibility:visible">
        <form action="/mobile/factual" method="post">
          <div data-role="fieldcontain">
            <label for="name">What kind of food are you looking for?</label> 
            <input type="text" name="search-term" value=""/>
          </div>
          <input type="hidden" name="latitude" value=""/>
          <input type="hidden" name="longitude" value=""/>
          <div class="ui-body">
            <fieldset class="ui-grid-a">
              <div class="ui-block-b"><button type="submit" data-theme="a">Submit</button></div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
    
    
  </div>
</body>

<script type="text/javascript">
  // based on this tutorial: http://www.html5hacks.com/blog/2012/10/15/use-the-geolocation-api-to-display-long-slash-lat-in-a-jquery-mobile-app/
  $(function () {
    if (navigator.location) {
      
    }
  })
</script>