<script>
    window.location.reload
</script>
<a href="all">View Recipes</a> | <a href="new">Add Recipe</a>
{% block content %}
<ul>
    {% if recipes %}
        {% for recipe in recipes %}
        <li>Name: {{ recipe.name }}</li>
        <li>Category: {{ recipe.category }}</li>
        <li>Prep Time: {{ recipe.prepTime }}</li>
        <li>Ingredients: {{ recipe.ingredients }}</li>
        <li>Instructions: {{ recipe.instructions }}</li>
        <a href="edit?key={{recipe.key()}}">Edit</a>
        <a href="delete?key={{recipe.key()}}">Delete</a>
        <br><br>
        {% endfor %}
    {% endif %}
</ul>
{% endblock %}